[*.kt]
indent_size = 2

[*.kts]
indent_size = 2

[*.java]
ij_java_class_count_to_use_import_on_demand = 99
ij_java_names_count_to_use_import_on_demand = 99
ij_java_use_single_class_imports = true
ij_java_insert_inner_class_imports = true

[*.html]
indent_size = 2
